/* Estilizando a barra de rolagem */
.custom-scrollbar {
    max-height: 325px;
    overflow-y: auto;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #393939; /* Cor do trilho */
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Cor do polegar */
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do polegar ao passar o mouse */
  }
  